<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearbooks.supply.mapper.SaleListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yearbooks.supply.pojo.SaleList">
        <id column="id" property="id"/>
        <result column="amount_paid" property="amountPaid"/>
        <result column="amount_payable" property="amountPayable"/>
        <result column="remarks" property="remarks"/>
        <result column="sale_date" property="saleDate"/>
        <result column="sale_number" property="saleNumber"/>
        <result column="state" property="state"/>
        <result column="user_id" property="userId"/>
        <result column="customer_id" property="customerId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , amount_paid, amount_payable, remarks, sale_date, sale_number, state, user_id, customer_id
    </sql>
    <select id="getNextSaleNumber" resultType="java.lang.String">
        select max(sale_number) as saleNumber
        from t_sale_list
        where to_days(sale_date) = to_days(now())
    </select>

    <select id="saleList" resultType="com.yearbooks.supply.pojo.SaleList">
        select
        sl.*,
        u.user_name as userName,
        c.name as customerName
        from
        t_sale_list sl
        left join t_user u on sl.user_id = u.id
        left join t_customer c on sl.customer_id = c.id
        <where>
            <if test="null != saleListQuery.saleNumber and saleListQuery.saleNumber !=''">
                sl.sale_number = #{saleListQuery.saleNumber}
            </if>
            <if test="null != saleListQuery.customerId">
                and sl.customer_id = #{saleListQuery.customerId}
            </if>
            <if test="null != saleListQuery.state">
                and sl.state = #{saleListQuery.state}
            </if>
            <if test="null != saleListQuery.startDate and saleListQuery.startDate !=''">
                and sale_date &gt;= #{saleListQuery.startDate}
            </if>
            <if test="null != saleListQuery.endDate and saleListQuery.endDate !=''">
                and sale_date &lt;= #{saleListQuery.endDate}
            </if>
        </where>
    </select>

    <select id="countSaleTotal" resultType="java.lang.Long">
        select
        count(*)
        from
        t_sale_list as tsl
        left join t_customer as tc on tsl.customer_id = tc.id
        left join t_sale_list_goods as tslt on tsl.id = tslt.sale_list_id
        left join t_goods_type as tgt on tslt.type_id = tgt.id
        <where>
            <if test="null != saleListQuery.startDate and saleListQuery.startDate !='' ">
                and sale_date &gt;=#{saleListQuery.startDate}
            </if>
            <if test="null !=saleListQuery.endDate and saleListQuery.endDate !='' ">
                and sale_date &lt;=#{saleListQuery.endDate}
            </if>
            <if test="null != saleListQuery.goodsName and saleListQuery.goodsName !='' ">
                and
                (
                tslt.name like concat('%',#{saleListQuery.goodsName},'%') or tslt.code =#{saleListQuery.goodsName}
                )
            </if>
            <if test="null !=saleListQuery.typeIds and saleListQuery.typeIds.size>0">
                and tslt.type_id in
                <foreach collection="saleListQuery.typeIds" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="saleListQueryList" resultType="com.yearbooks.supply.model.CountResultModel">
        SELECT
        sl.sale_number as number,
        sl.sale_date as date,
        tc.`name` as name,
        tpl.`code`,
        tpl.`name` as goodsName,
        tpl.model,
        tpl.unit as unitName,
        tpl.price,
        tpl.num,
        tpl.total,
        tgt.`name` as typeName
        FROM
        t_sale_list AS sl
        LEFT JOIN t_customer AS tc ON sl.customer_id = tc.id
        LEFT JOIN t_sale_list_goods AS tpl ON sl.id = tpl.sale_list_id
        LEFT JOIN t_goods_type AS tgt ON tpl.type_id = tgt.id
        <where>
            <if test="null != saleListQuery.startDate and saleListQuery.startDate !='' ">
                and sale_date &gt;= #{saleListQuery.startDate}
            </if>
            <if test="null != saleListQuery.endDate and saleListQuery.endDate !='' ">
                and sale_date &lt;= #{saleListQuery.endDate}
            </if>
            <if test="null != saleListQuery.goodsName and saleListQuery.goodsName !='' ">
                and
                (
                tpl.name like concat('%',#{saleListQuery.goodsName},'%') or tpl.code =#{saleListQuery.goodsName}
                )
            </if>
            <if test="null !=saleListQuery.typeIds and saleListQuery.typeIds.size>0">
                and tpl.type_id in
                <foreach collection="saleListQuery.typeIds" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>
        LIMIT #{saleListQuery.index},#{saleListQuery.limit}
    </select>
    <select id="countDaySale" resultType="java.util.Map">
        SELECT
            <!--成本金额-->
            SUM(t3.purchasing_price*t1.num) as amountCost,
            <!--销售金额-->
            SUM(t1.price*t1.num) as amountSale,
            <!--销售时点-->
            t2.sale_date as saleDate
        FROM
            t_sale_list_goods AS t1
            LEFT JOIN t_sale_list  t2 ON t1.sale_list_id = t2.id
            LEFT JOIN t_goods t3  ON t1.goods_id = t3.id
        WHERE
            t2.sale_date BETWEEN #{begin} AND #{end}
        GROUP BY
            t2.sale_date
    </select>
    <select id="countMonthSale" resultType="java.util.Map">
        SELECT
            /*-- 成本金额*/
            SUM(t3.purchasing_price*t1.num) AS amountCost,
           	/* -- 销售金额*/
            SUM(t1.price*t1.num) AS amountSale,
            /*-- 销售时点*/
            DATE_FORMAT(t2.sale_date,"%Y-%m") as saleDate
        FROM
            t_sale_list_goods AS t1
            LEFT JOIN t_sale_list  t2 ON t1.sale_list_id = t2.id
            LEFT JOIN t_goods t3  ON t1.goods_id = t3.id
        WHERE
            DATE_FORMAT(t2.sale_date,"%Y-%m") BETWEEN #{begin} AND #{end}
        GROUP BY
            DATE_FORMAT(t2.sale_date,"%Y-%m")
    </select>
</mapper>
